*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    max-width: 100%;
    font-family: "Arial", sans-serif;

    background-color: #f2f2f2;

        p{
            color: #666681;
        } 

        img{
            width: 318px;
            height: auto;
        }

}

header {
    display: flex;
    height: 80px;
    color: #c262af;
    justify-content: center;
    align-items: center;
}


.cards {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;


    h1{
        max-width: 300px;
    }

    p{
        max-width: 300px;
    }
}

.card1{
    margin-bottom: 50px;  
    border: 1px solid #c262af;
    box-shadow: 0px 5px 20px 5px #c262af;
}



.card2{
    margin-top: 120px;
    border: 1px solid #c262af;
    box-shadow: 0px 5px 20px 5px #c262af;
}

.card3{
    position: relative;
    margin-bottom: 50px;
    border: 1px solid #c262af;
    box-shadow: 0px 5px 20px 5px #c262af;
}
.cardText{
    padding: 30px 9px;

    h1 {
        font-size: 20px;
        text-align: center;
        margin-top: 7px;
        margin-bottom: 20px;
    }
}

.texto{
    margin-top: 40px;
    padding: 1.5% 3% ;
}

.line {
    width: 80%;
    background-color: #c262af;
    height: 1px;
    margin-left: 10%;
}

footer{
    text-align: center;
    padding: 20px;
    font-size: 12px;

    p{
        color: #c262af;
    }
}


@media (max-width: 1279px){
    .cards{
        gap: 1%;
    }
}

@media (max-width: 920px){
    .cards{
        flex-wrap: wrap;
    }

    .card2{
        margin-top: 0px;
        margin-bottom: 50px;

        .cardText{
            h1{
                margin-top: 0px;
                margin-bottom: 4px;
            }
        }
    }
}

@media (max-width: 768px){
    *{
        img{
            width: 470px;
            height: 230px;
        }
    }

    .cards{
        p{
            font-size: 13px;
            min-width: 450px;
        }

        h1{
            min-width: 450px;
        }
    }

    .card2{

        .cardText{
            h1{
                margin-top: 4px;
                margin-bottom: 8px;
            }
        }
    }

    .cardText{
        padding: 10px 9px ;
    
        h1 {
            font-size: 20px;
            margin-top: 4px;
            margin-bottom: 10px;
        }
    }

    .texto{
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 13px;
    }

    footer{
        font-size: 10px;
    }

}

@media (max-width: 480px){
    *{
        img{
            width: 100%;
            height: auto;
        }
    }

    .cards{
        p{
            font-size: 19px;
            min-width: 338px;
        }

        h1{
            min-width: 338px;
        }
    }

    .texto{
        font-size: 19px;
    }

    .line{
        width: 100%;
        margin-left:0;
    }
}


